@module: m-company;

.@{module} {
	padding-top: 60px;
	padding-bottom: 80px;
	.default_backgroud_5;
	& &-wrap {
		width: 100%;
		height: 100%;
		.default_width_960;
		.default_mar_auto;
	}
}
.@{module}-content {
	position: relative;
	min-height: 400px;
	text-align: center;
	width: 100%;
	& .company-top {}
	& .company-bottom {
		position: relative;
		width: 720px;
		margin: 40px auto;
		.default_backgroud_2;
		border-radius: 4px;
		& .title {
			width: 100%;
			height: auto;
			text-align: left;
			padding-left: 40px;
			padding-top: 40px;
			font-weight: bold;
			.default_font_size_6;
			.default_color_1;
		}
		& .content {
			min-height: 200px;
            padding: 0 60px;
            .default_font_size_3;
            .default_color_2;

            // about
			&.m-about {
				padding: 40px 60px 50px;
				& .img {
	                margin-bottom: 40px;
	                .default_center;
	            }
	            & .text {
	                margin-bottom: 30px;
					text-align: left;
	                text-indent: 2em;
	                line-height: 150%;
	            }
			}

			&.m-agreement {
				padding: 10px 60px 40px;
				text-align: left;
				& .sub-title {
					margin-top: 30px;
					line-height: 150%;
					.default_font_size_3;
					.default_color_1;
				}
				& .text {
					line-height: 150%;
				}
			}

			&.m-privacy {
				padding: 10px 60px 40px;
				text-align: left;
				& .sub-title {
					margin-top: 30px;
					line-height: 150%;
					.default_font_size_3;
					.default_color_1;
				}
				& .text {
					line-height: 150%;
				}
			}

			&.m-statement {
				padding: 10px 60px 40px;
				text-align: left;
				& .sub-title {
					margin-top: 30px;
					line-height: 150%;
					.default_font_size_3;
					.default_color_1;
				}
				& .text {
					line-height: 150%;
				}
			}

			&.m-standard {
				padding: 10px 60px 40px;
				text-align: left;
				& .sub-title {
					margin-top: 30px;
					line-height: 150%;
					.default_font_size_3;
					.default_color_1;
				}
				& .text {
					line-height: 150%;
				}
			}

			// contact
			&.m-contact {
				padding: 40px 60px 40px;
				text-align: left;
				& .text {
					margin-bottom: 30px;
					line-height: 150%;
				}
				//& .item {
                	//height: 150px;
	                //padding-top: 45px;
	                //.default_border-b-6;
	                //& .item-title {
	                //    margin-bottom: 16px;
	                //    .default_color_5;
	                //    .default_font_size_4;
	                //    .default_font_family_bolder;
	                //}
	                //& .item-text {
	                //    margin-bottom: 16px;
	                //    .default_color_3;
	                //    .default_font_size_2;
	                //}
	                //&:last-child {
	                //	.default_border-n;
	                //}
	            //}
			}
		}
	}
}
