/**
 * 全局通用基础样式
 * - 文字颜色
 * - 背景颜色
 * - 字体大小
 */
// 字体family
@default_family_normal: 'SimSun';
// @default_family_bolder: 'SimHei';
// @default_family_bolder: '宋体';

// 文字颜色
@default_color_1: #dcdcdc;
@default_color_2: #a0a0a0;
@default_color_3: #828282;
@default_color_4: #5a5a5a;
@default_color_5: #00beff;
@default_color_6: #b4a000;
@default_color_7: #e61e5a;
@default_color_8: #9664c8;
@default_color_9: #00a08c;
@default_color_10: #b4b4b4;

// 背景颜色
@default_backgroud_1: #642d41;
@default_backgroud_2: #4b4b4b;
@default_backgroud_3: #414141;
@default_backgroud_4: #3c3c3c;
@default_backgroud_5: #373737;
@default_backgroud_6: #323232;
@default_backgroud_7: #2d2d2d;
@default_backgroud_8: #00a08c;
@default_backgroud_9: #9664c8;
@default_backgroud_10: #00beff;
@default_backgroud_11: #b4a000;
@default_backgroud_12: #e61450;
@default_backgroud_13: #232323;
@default_backgroud_14: #191919;
@default_backgroud_15: #a0a0a0;
@default_backgroud_fff: #fff;

// 字体大小
@default_font_size_1: 12px;
@default_font_size_2: 14px;
@default_font_size_3: 16px;
@default_font_size_4: 20px;
@default_font_size_5: 24px;
@default_font_size_6: 30px;
@default_font_size_7: 18px;

// 动画速度
@default_speed_1: .25s;
@default_speed_2: .5s;
