/**
 * 公共样式
 */
.skin_icon { background-position: center center; background-repeat: no-repeat; }

// common 
.skin_top {
	.skin_icon;
	background-size: .44rem .44rem;
	background-image: url('../images/mb/top.png');
}
.skin_home {
	.skin_icon;
	background-size: .44rem .44rem;
	background-image: url('../images/mb/home.png');
}
.skin_more {
	.skin_icon;
	background-size: .44rem .44rem;
	background-image: url('../images/mb/more.png');
}
.skin_fresh {
	.skin_icon;
	background-size: .7rem .7rem;
	background-image: url('../images/mb/fresh.png');
}
.skin_delete {
	.skin_icon;
	background-size: .32rem .32rem;
	background-image: url('../images/mb/delete.png');
}
.skin_edit {
	.skin_icon;
	background-size: .44rem .44rem;
	background-image: url('../images/mb/edit.png');
}


// edit
.skin_edit_center {
	.skin_icon;
	background-size: .4rem .4rem;
	background-image: url('../images/mb/edit-center.png');
}
.skin_edit_center_on {
	.skin_icon;
	background-size: .4rem .4rem;
	background-image: url('../images/mb/edit-center_on.png');
}
.skin_edit_indent {
	.skin_icon;
	background-size: .4rem .4rem;
	background-image: url('../images/mb/edit-indent.png');
}
.skin_edit_indent_on {
	.skin_icon;
	background-size: .4rem .4rem;
	background-image: url('../images/mb/edit-indent_on.png');
}
.skin_edit_bold {
	.skin_icon;
	background-size: .4rem .4rem;
	background-image: url('../images/mb/edit-bold.png');
}
.skin_edit_bold_on {
	.skin_icon;
	background-size: .4rem .4rem;
	background-image: url('../images/mb/edit-bold_on.png');
}
.skin_edit_italic {
	.skin_icon;
	background-size: .4rem .4rem;
	background-image: url('../images/mb/edit-italic.png');
}
.skin_edit_italic_on {
	.skin_icon;
	background-size: .4rem .4rem;
	background-image: url('../images/mb/edit-italic_on.png');
}
.skin_edit_kb {
	.skin_icon;
	background-size: .4rem .4rem;
	background-image: url('../images/mb/edit-kb.png');
}
.skin_edit_kb_on {
	.skin_icon;
	background-size: .4rem .4rem;
	background-image: url('../images/mb/edit-kb_on.png');
}
.skin_edit_save {
	.skin_icon;
	background-size: .4rem .4rem;
	background-image: url('../images/mb/edit-save.png');
}
.skin_edit_save_on {
	.skin_icon;
	background-size: .4rem .4rem;
	background-image: url('../images/mb/edit-save_on.png');
}
.skin_edit_scan {
	.skin_icon;
	background-size: .4rem .4rem;
	background-image: url('../images/mb/edit-scan.png');
}
.skin_edit_scan_on {
	.skin_icon;
	background-size: .4rem .4rem;
	background-image: url('../images/mb/edit-scan_on.png');
}
.skin_edit_publish {
	.skin_icon;
	background-size: .4rem .4rem;
	background-image: url('../images/mb/edit-publish.png');
}
.skin_edit_publish_on {
	.skin_icon;
	background-size: .4rem .4rem;
	background-image: url('../images/mb/edit-publish_on.png');
}


// chapter
.skin_chapter_add {
	.skin_icon;
	background-size: .44rem .44rem;
	background-image: url('../images/mb/chapter-add.png');
}
.skin_chapter_share {
	.skin_icon;
	background-size: .4rem .4rem;
	background-image: url('../images/mb/chapter-share.png');
}
.skin_chapter_update {
	.skin_icon;
	background-size: .4rem .4rem;
	background-image: url('../images/mb/chapter-update.png');
}
.skin_chapter_delete {
	.skin_icon;
	background-size: .4rem .4rem;
	background-image: url('../images/mb/chapter-delete.png');
}
.skin_chapter_edit {
	.skin_icon;
	background-size: .4rem .4rem;
	background-image: url('../images/mb/chapter-edit.png');
}
.skin_chapter_publish {
	.skin_icon;
	background-size: .4rem .4rem;
	background-image: url('../images/mb/chapter-publish.png');
}

// catalog
.skin_catalog_pic {
	.skin_icon;
	background-size: .44rem .44rem;
	background-image: url('../images/mb/catalog-pic.png');
}
.skin_catalog_refresh {
	.skin_icon;
	background-size: .4rem .4rem;
	background-image: url('../images/mb/catalog-refresh.png');
}
