/**
 * 公共样式
 */
.skin_icon { background-position: center center; background-repeat: no-repeat; }

// 背景
.skin_user_1 {
	background-image: url('../images/user/bg.png');
	background-size: cover;
}
.skin_user_2 {
	background-image: url('../../common/images/user/logo.png');
	background-position: top left;
	background-repeat: no-repeat;
}

// head
.skin_head_logo { .skin_icon; background-image: url('../images/common/head-logo.png'); }
.skin_head_search { .skin_icon; background-image: url('../images/common/head-search.png'); }
.skin_head_search_on { .skin_icon; background-image: url('../images/common/head-search_on.png'); }
.skin_head_notice { .skin_icon; background-image: url('../images/common/head-notice.png'); }
.skin_head_notice_on { .skin_icon; background-image: url('../images/common/head-notice_on.png'); }
.skin_head_yao { .skin_icon; background-image: url('../images/common/head-yao.png'); }
.skin_head_yao_on { .skin_icon; background-image: url('../images/common/head-yao_on.png'); }
.skin_head_feedback { .skin_icon; background-image: url('../images/common/head-feedback.png'); }
.skin_head_feedback_on { .skin_icon; background-image: url('../images/common/head-feedback_on.png'); }
.skin_head_center { .skin_icon; background-image: url('../images/common/head-center.png'); }
.skin_head_center_on { .skin_icon; background-image: url('../images/common/head-center_on.png'); }
.skin_head_outlogin { .skin_icon; background-image: url('../images/common/head-outlogin.png'); }
.skin_head_outlogin_on { .skin_icon; background-image: url('../images/common/head-outlogin_on.png'); }
.skin_head_comment { .skin_icon; background-image: url('../images/common/head-comment.png'); }
.skin_head_comment_on { .skin_icon; background-image: url('../images/common/head-comment_on.png'); }
.skin_head_setting { .skin_icon; background-image: url('../images/common/head-setting.png'); }
.skin_head_setting_on { .skin_icon; background-image: url('../images/common/head-setting_on.png'); }
.skin_head_msg { .skin_icon; background-image: url('../images/common/head-msg.png'); }
.skin_head_msg_on { .skin_icon; background-image: url('../images/common/head-msg_on.png'); }

// index
.skin_banner_left { .skin_icon; background-image: url('../images/index/index-banner-left.png'); }
.skin_banner_right { .skin_icon; background-image: url('../images/index/index-banner-right.png'); }

// side_menu
.skin_sime_menu_1 { .skin_icon; background-image: url('../images/common/side-menu-1.png'); }
.skin_sime_menu_1_on { .skin_icon; background-image: url('../images/common/side-menu-1_on.png'); }

// mark
.skin_mark_more { .skin_icon; background-image: url('../images/mark/mark-more.png'); }
.skin_mark_more_on { .skin_icon; background-image: url('../images/mark/mark-more_on.png'); }

// page
.skin_page_right { .skin_icon; background-image: url('../images/common/page-right.png'); }
.skin_page_right_on { .skin_icon; background-image: url('../images/common/page-right_on.png'); }
.skin_page_left { .skin_icon; background-image: url('../images/common/page-left.png'); }
.skin_page_left_on { .skin_icon; background-image: url('../images/common/page-left_on.png'); }

// share

.skin_share_kong { .skin_icon; background-image: url('../images/common/share-kong.png'); }
.skin_share_kong_on { .skin_icon; background-image: url('../images/common/share-kong_on.png'); }
.skin_share_qq { .skin_icon; background-image: url('../images/common/share-qq.png'); }
.skin_share_qq_on { .skin_icon; background-image: url('../images/common/share-qq_on.png'); }
.skin_share_tb { .skin_icon; background-image: url('../images/common/share-tb.png'); }
.skin_share_tb_on { .skin_icon; background-image: url('../images/common/share-tb_on.png'); }
.skin_share_wb { .skin_icon; background-image: url('../images/common/share-wb.png'); }
.skin_share_wb_on { .skin_icon; background-image: url('../images/common/share-wb_on.png'); }


// search
.skin_icon_search-1 { .skin_icon; background-image: url('../images/icon/search-1.png'); }
.skin_icon_search-1_on { .skin_icon; background-image: url('../images/icon/search-1_on.png'); }
.skin_icon_search-2 { .skin_icon; background-image: url('../images/icon/search-2.png'); }
.skin_icon_search-2_on { .skin_icon; background-image: url('../images/icon/search-2_on.png'); }
.skin_icon_search-3 { .skin_icon; background-image: url('../images/icon/search-3.png'); }
.skin_icon_search-3_on { .skin_icon; background-image: url('../images/icon/search-3_on.png'); }

// author
.skin_icon_author-1 { .skin_icon; background-image: url('../images/icon/author-1.png'); }
.skin_icon_author-1_on { .skin_icon; background-image: url('../images/icon/author-1_on.png'); }
.skin_icon_author-2 { .skin_icon; background-image: url('../images/icon/author-2.png'); }
.skin_icon_author-2_on { .skin_icon; background-image: url('../images/icon/author-2_on.png'); }
.skin_icon_author-3 { .skin_icon; background-image: url('../images/icon/author-3.png'); }
.skin_icon_author-3_on { .skin_icon; background-image: url('../images/icon/author-3_on.png'); }
.skin_icon_author-4 { .skin_icon; background-image: url('../images/icon/author-4.png'); }
.skin_icon_author-4_on { .skin_icon; background-image: url('../images/icon/author-4_on.png'); }
.skin_icon_author-5 { .skin_icon; background-image: url('../images/icon/author-5.png'); }
.skin_icon_author-5_on { .skin_icon; background-image: url('../images/icon/author-5_on.png'); }
.skin_icon_author-6 { .skin_icon; background-image: url('../images/icon/author-6.png'); }
.skin_icon_author-6_on { .skin_icon; background-image: url('../images/icon/author-6_on.png'); }

// share
.skin_icon_share-1 { .skin_icon; background-image: url('../images/icon/share-1.png'); }
.skin_icon_share-1_on { .skin_icon; background-image: url('../images/icon/share-1_on.png'); }
.skin_icon_share-2 { .skin_icon; background-image: url('../images/icon/share-2.png'); }
.skin_icon_share-2_on { .skin_icon; background-image: url('../images/icon/share-2_on.png'); }
.skin_icon_share-3 { .skin_icon; background-image: url('../images/icon/share-3.png'); }
.skin_icon_share-3_on { .skin_icon; background-image: url('../images/icon/share-3_on.png'); }
.skin_icon_share-4 { .skin_icon; background-image: url('../images/icon/share-4.png'); }
.skin_icon_share-4_on { .skin_icon; background-image: url('../images/icon/share-4_on.png'); }
.skin_icon_share-5 { .skin_icon; background-image: url('../images/icon/share-5.png'); }
.skin_icon_share-5_on { .skin_icon; background-image: url('../images/icon/share-5_on.png'); }
.skin_icon_share-6 { .skin_icon; background-image: url('../images/icon/share-6.png'); }
.skin_icon_share-6_on { .skin_icon; background-image: url('../images/icon/share-6_on.png'); }

// more_btn
.skin_icon_more_btn-1 { .skin_icon; background-image: url('../images/icon/more_btn-1.png'); }
.skin_icon_more_btn-1_on { .skin_icon; background-image: url('../images/icon/more_btn-1_on.png'); }
.skin_icon_more_btn-2 { .skin_icon; background-image: url('../images/icon/more_btn-2.png'); }
.skin_icon_more_btn-2_on { .skin_icon; background-image: url('../images/icon/more_btn-2_on.png'); }
.skin_icon_more_btn-3 { .skin_icon; background-image: url('../images/icon/more_btn-3.png'); }
.skin_icon_more_btn-3_on { .skin_icon; background-image: url('../images/icon/more_btn-3_on.png'); }


// article
.skin_article_tag { .skin_icon; background-image: url('../images/article/article-tag.png'); }

// read
.skin_icon_read-1 { .skin_icon; background-image: url('../images/icon/read-1.png'); }
.skin_icon_read-1_on { .skin_icon; background-image: url('../images/icon/read-1_on.png'); }
.skin_icon_read-2 { .skin_icon; background-image: url('../images/icon/read-2.png'); }
.skin_icon_read-2_on { .skin_icon; background-image: url('../images/icon/read-2_on.png'); }
.skin_icon_read-3 { .skin_icon; background-image: url('../images/icon/read-3.png'); }
.skin_icon_read-3_on { .skin_icon; background-image: url('../images/icon/read-3_on.png'); }
.skin_icon_read-3_active { .skin_icon; background-image: url('../images/icon/read-3_active.png'); }


// setting
.skin_icon_setting-1 { .skin_icon; background-image: url('../images/icon/setting-1.png'); }
.skin_icon_setting-1_on { .skin_icon; background-image: url('../images/icon/setting-1_on.png'); }
.skin_icon_setting-2 { .skin_icon; background-image: url('../images/icon/setting-2.png'); }
.skin_icon_setting-2_on { .skin_icon; background-image: url('../images/icon/setting-2_on.png'); }
.skin_icon_setting-3 { .skin_icon; background-image: url('../images/icon/setting-3.png'); }
.skin_icon_setting-3_on { .skin_icon; background-image: url('../images/icon/setting-3_on.png'); }
.skin_icon_setting-4 { .skin_icon; background-image: url('../images/icon/setting-4.png'); }
.skin_icon_setting-4_on { .skin_icon; background-image: url('../images/icon/setting-4_on.png'); }


// message
.skin_icon_message-1 { .skin_icon; background-image: url('../images/icon/message-1.png'); }
.skin_icon_message-1_on { .skin_icon; background-image: url('../images/icon/message-1_on.png'); }
.skin_icon_message-2 { .skin_icon; background-image: url('../images/icon/message-2.png'); }
.skin_icon_message-2_on { .skin_icon; background-image: url('../images/icon/message-2_on.png'); }
.skin_icon_message-3 { .skin_icon; background-image: url('../images/icon/message-3.png'); }
.skin_icon_message-3_on { .skin_icon; background-image: url('../images/icon/message-3_on.png'); }


// mark
.skin_icon_mark-1 { .skin_icon; background-image: url('../images/icon/mark-1.png'); }
.skin_icon_mark-1_on { .skin_icon; background-image: url('../images/icon/mark-1_on.png'); }
.skin_icon_mark-2 { .skin_icon; background-image: url('../images/icon/mark-2.png'); }
.skin_icon_mark-2_on { .skin_icon; background-image: url('../images/icon/mark-2_on.png'); }

// edit
.skin_icon_edit-1 { .skin_icon; background-image: url('../images/icon/edit-1.png'); }
.skin_icon_edit-1_on { .skin_icon; background-image: url('../images/icon/edit-1_on.png'); }
.skin_icon_edit-2 { .skin_icon; background-image: url('../images/icon/edit-2.png'); }
.skin_icon_edit-2_on { .skin_icon; background-image: url('../images/icon/edit-2_on.png'); }
.skin_icon_edit-3 { .skin_icon; background-image: url('../images/icon/edit-3.png'); }
.skin_icon_edit-3_on { .skin_icon; background-image: url('../images/icon/edit-3_on.png'); }
.skin_icon_edit-4 { .skin_icon; background-image: url('../images/icon/edit-4.png'); }
.skin_icon_edit-4_on { .skin_icon; background-image: url('../images/icon/edit-4_on.png'); }
.skin_icon_edit-5 { .skin_icon; background-image: url('../images/icon/edit-5.png'); }
.skin_icon_edit-5_on { .skin_icon; background-image: url('../images/icon/edit-5_on.png'); }
.skin_icon_edit-6 { .skin_icon; background-image: url('../images/icon/edit-6.png'); }
.skin_icon_edit-6_on { .skin_icon; background-image: url('../images/icon/edit-6_on.png'); }
.skin_icon_edit-7 { .skin_icon; background-image: url('../images/icon/edit-7.png'); }
.skin_icon_edit-7_on { .skin_icon; background-image: url('../images/icon/edit-7_on.png'); }
.skin_icon_edit-8 { .skin_icon; background-image: url('../images/icon/edit-8.png'); }
.skin_icon_edit-8_on { .skin_icon; background-image: url('../images/icon/edit-8_on.png'); }
.skin_icon_edit-9 { .skin_icon; background-image: url('../images/icon/edit-9.png'); }
.skin_icon_edit-9_on { .skin_icon; background-image: url('../images/icon/edit-9_on.png'); }
.skin_icon_edit-10 { .skin_icon; background-image: url('../images/icon/edit-10.png'); }
.skin_icon_edit-10_on { .skin_icon; background-image: url('../images/icon/edit-10_on.png'); }
.skin_icon_edit-11 { .skin_icon; background-image: url('../images/icon/edit-11.png'); }
.skin_icon_edit-11_on { .skin_icon; background-image: url('../images/icon/edit-11_on.png'); }
.skin_icon_edit-12 { .skin_icon; background-image: url('../images/icon/edit-12.png'); }
.skin_icon_edit-12_on { .skin_icon; background-image: url('../images/icon/edit-12_on.png'); }
.skin_icon_edit-13 { .skin_icon; background-image: url('../images/icon/edit-13_on.png'); }
.skin_icon_edit-13_on { .skin_icon; background-image: url('../images/icon/edit-13.png'); }
.skin_icon_edit-14 { .skin_icon; background-image: url('../images/icon/edit-14.png'); }
.skin_icon_edit-14_on { .skin_icon; background-image: url('../images/icon/edit-14_on.png'); }
.skin_icon_edit-15 { .skin_icon; background-image: url('../images/icon/edit-15.png'); }


// complete
.skin_icon_complete-1 { .skin_icon; background-image: url('../images/icon/complete-1.png'); }
.skin_icon_complete-1_on { .skin_icon; background-image: url('../images/icon/complete-1_on.png'); }
.skin_icon_complete-2 { .skin_icon; background-image: url('../images/icon/complete-2.png'); }
.skin_icon_complete-2_on { .skin_icon; background-image: url('../images/icon/complete-2_on.png'); }
.skin_icon_complete-3 { .skin_icon; background-image: url('../images/icon/complete-3.png'); }
.skin_icon_complete-3_on { .skin_icon; background-image: url('../images/icon/complete-3_on.png'); }
.skin_icon_complete-4 { .skin_icon; background-image: url('../images/icon/complete-4.png'); }
.skin_icon_complete-4_on { .skin_icon; background-image: url('../images/icon/complete-4_on.png'); }
.skin_icon_complete-5 { .skin_icon; background-image: url('../images/icon/complete-5.png'); }
.skin_icon_complete-5_on { .skin_icon; background-image: url('../images/icon/complete-5_on.png'); }
.skin_icon_complete-6 { .skin_icon; background-image: url('../images/icon/complete-6.png'); }
.skin_icon_complete-6_on { .skin_icon; background-image: url('../images/icon/complete-6_on.png'); }

// tip
.skin_icon_tip-arrow { .skin_icon; background-image: url('../images/icon/tip-arrow.png'); }

.skin_icon_top_1 { .skin_icon; background-image: url('../images/icon/top-1.png'); }
.skin_icon_top_1_on { .skin_icon; background-image: url('../images/icon/top-1_on.png'); }
.skin_icon_ios_1 { .skin_icon; background-image: url('../images/icon/ios02.png'); }
.skin_icon_ios_2 { .skin_icon; background-image: url('../images/icon/ios01.png'); }
.skin_icon_android_1 { .skin_icon; background-image: url('../images/icon/android02.png'); }
.skin_icon_android_2 { .skin_icon; background-image: url('../images/icon/android01.png'); }
.skin_icon_weibo_1 { .skin_icon; background-image: url('../images/icon/wb02.png'); }
.skin_icon_weibo_2 { .skin_icon; background-image: url('../images/icon/wb01.png'); }
.skin_icon_weixin_1 { .skin_icon; background-image: url('../images/icon/wx02.png'); }
.skin_icon_weixin_2 { .skin_icon; background-image: url('../images/icon/wx01.png'); }
.skin_icon_left-1 { .skin_icon; background-image: url('../images/icon/left-1.png'); }
.skin_icon_left-1_on { .skin_icon; background-image: url('../images/icon/left-1_on.png'); }
.skin_icon_right-1 { .skin_icon; background-image: url('../images/icon/right-1.png'); }
.skin_icon_right-1_on { .skin_icon; background-image: url('../images/icon/right-1_on.png'); }

.skin_icon_more { .skin_icon; background-image: url('../images/icon/more.png'); }
.skin_icon_radio { .skin_icon; background-image: url('../images/icon/radio.png'); }
.skin_icon_radio_on { .skin_icon; background-image: url('../images/icon/radio_on.png'); }
.skin_icon_history { .skin_icon; background-image: url('../images/icon/history.png'); }
.skin_icon_comment { .skin_icon; background-image: url('../images/icon/comment.png'); }
.skin_icon_fabulous { .skin_icon; background-image: url('../images/icon/fabulous.png'); }
.skin_icon_fabulous_on { .skin_icon; background-image: url('../images/icon/fabulous_on.png'); }
.skin_icon_mark { .skin_icon; background-image: url('../images/icon/mark.png'); }
.skin_icon_mark_on { .skin_icon; background-image: url('../images/icon/mark_on.png'); }

// page-fen
.skin_icon_prev { .skin_icon; background-image: url('../images/icon/prev.png'); }
.skin_icon_next { .skin_icon; background-image: url('../images/icon/next.png'); }
.skin_icon_prev_on { .skin_icon; background-image: url('../images/icon/prev_on.png'); }
.skin_icon_next_on { .skin_icon; background-image: url('../images/icon/next_on.png'); }


// article-edit
.skin_icon_upload_img { .skin_icon; background-image: url('../images/icon/upload_img.png'); }
.skin_icon_select { .skin_icon; background-image: url('../images/icon/select.png'); }
.skin_icon_select_on { .skin_icon; background-image: url('../images/icon/select_on.png'); }
.skin_icon_agree { .skin_icon; background-image: url('../images/icon/radio_1.png'); }
.skin_icon_agree_on { .skin_icon; background-image: url('../images/icon/radio_1_on.png'); }
.skin_icon_refresh { .skin_icon; background-image: url('../images/icon/refresh.png'); }
.skin_icon_edit_suo { .skin_icon; background-image: url('../images/icon/edit_suo.png'); }
.skin_icon_edit_suo_on { .skin_icon; background-image: url('../images/icon/edit_suo_on.png'); }
.skin_icon_edit_bold { .skin_icon; background-image: url('../images/icon/edit_bold.png'); }
.skin_icon_edit_bold_on { .skin_icon; background-image: url('../images/icon/edit_bold_on.png'); }
.skin_icon_edit_xie { .skin_icon; background-image: url('../images/icon/edit_xie.png'); }
.skin_icon_edit_xie_on { .skin_icon; background-image: url('../images/icon/edit_xie_on.png'); }
.skin_icon_edit_delete { .skin_icon; background-image: url('../images/icon/edit_delete.png'); }
.skin_icon_edit_delete_on { .skin_icon; background-image: url('../images/icon/edit_delete_on.png'); }
.skin_icon_edit_img { .skin_icon; background-image: url('../images/icon/edit_img.png'); }
.skin_icon_edit_img_on { .skin_icon; background-image: url('../images/icon/edit_img_on.png'); }
.skin_icon_edit_save { .skin_icon; background-image: url('../images/icon/edit_save.png'); }
.skin_icon_edit_save_on { .skin_icon; background-image: url('../images/icon/edit_save_on.png'); }
.skin_icon_edit_scan { .skin_icon; background-image: url('../images/icon/edit_scan.png'); }
.skin_icon_edit_scan_on { .skin_icon; background-image: url('../images/icon/edit_scan_on.png'); }
.skin_icon_edit_share_kong { .skin_icon; background-image: url('../images/icon/share_kong.png'); }
.skin_icon_edit_share_more { .skin_icon; background-image: url('../images/icon/share_more.png'); }
.skin_icon_edit_share_peng { .skin_icon; background-image: url('../images/icon/share_peng.png'); }
.skin_icon_edit_share_qq { .skin_icon; background-image: url('../images/icon/share_qq.png'); }
.skin_icon_edit_share_wb { .skin_icon; background-image: url('../images/icon/share_wb.png'); }
.skin_icon_edit_share_wx { .skin_icon; background-image: url('../images/icon/share_wx.png'); }
