@module: m-search;
.@{module} {
	padding-top: 20px;
	padding-bottom: 40px;
	.default_backgroud_5;
}
.@{module}-content {
	position: relative;
	min-height: 400px;
	.default_width_960;
	.default_mar_auto;
	& .search-left {}
	& .search-right {
		width: 680px;
		margin-left: 280px;
		& .title {
			width: 100%;
			height: 50px;
			line-height: 50px;
			padding-left: 20px;
			.default_font_size_2;
			.default_color_2;
			.default_backgroud_7;
			& .number {
				.default_font_family_bolder;
                .default_font_size_7;
    			.default_color_7;
			}
		}
		& .result {
			width: 100%;
			height: 100%;
			& .result-content {
				width: 100%;
				height: 100%;
			}
		}
	}
}

.c-menu-left .item:nth-child(1){
	& .item__icon {
		.skin_icon_search-3;
	}
	&:hover .item__icon {
		.skin_icon_search-3_on;
	}
}
.c-menu-left .item:nth-child(2){
	& .item__icon {
		.skin_icon_search-1;
	}
	&:hover .item__icon {
		.skin_icon_search-1_on;
	}
}
.c-menu-left .item:nth-child(3){
	& .item__icon {
		.skin_icon_search-2;
	}
	&:hover .item__icon {
		.skin_icon_search-2_on;
	}
}